<mat-card>
  <mat-card-header>
    <mat-card-title>
      <h1>Add a Solution</h1>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-grid-list cols="1" rowHeight="9:1">
      <mat-grid-tile>
        <mat-form-field>
          <mat-label>Date</mat-label>
          <input matInput [matDatepicker]="picker" [(ngModel)]="date">
          <mat-hint>YYYY-MM-DD</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field>
          <mat-label>Words</mat-label>
          <input matInput required [(ngModel)]="words">
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <button mat-button color="primary" (click)="submitSolution()">Submit</button>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card-content>
</mat-card>