<mat-card>
  <mat-card-content>
    <h2>I want to...</h2>
  </mat-card-content>
  <mat-card-content>
    <ul>
        <li>
          <a class="wordlepal-link-dark" href="/list-solutions">View previous solutions</a>
        </li>
        <li>
          <a class="wordlepal-link-dark" href="/submit-solution">Submit a solution</a>
        </li>
        <li>
          <a class="wordlepal-link-dark" href="/assist-solution">Get help on a wordle</a>
        </li>
    </ul>
  </mat-card-content>
</mat-card>

