/* You can add global styles to this file, and also import other style files */
html {
    --mat-table-header-headline-size: 16px;
    --mat-table-header-headline-font: Roboto, "Helvetica Neue", sans-serif;
    --mat-table-row-item-label-text-size: 16px;
    --mat-table-row-item-label-text-font: Roboto, "Helvetica Neue", sans-serif;
}

html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
}

.menubar-spacer {
  flex: 1 1 auto;
}

a.wordlepal-link-light {
    color: #FFFFFF;
    text-decoration: none;
}

a.wordlepal-link-dark {
    color: #000000;
    text-decoration: none;
}

a.wordlepal-link:hover {
    text-decoration: underline;
}

td.wordlepal-table-content {
    font-size: 16px !important;
}